@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

@font-face {
  font-family: 'Wildest';
  src: url('../../assets/fonts/Wildest.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.landing {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1; /* Base layer for hero section */

}

.landing:before {
  content: '';
  position: absolute;
  background: url('../../assets/tree_bg.webp') no-repeat center bottom/cover;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .1;
}

.landing-container {
  padding-top: 5rem;
  z-index: 2; /* Elevate hero container above the base */

}

.landing {
  height: 100vh;
  width: 100%;
  background-color: #f6f4f2; /* Black overlay */
  z-index: 0;

}

.landing-content {
  width: 70%;
  text-align: center;
  margin: auto;
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Start slightly below */
  animation: slideUp 2s ease-out forwards; /* 1s animation, smooth, and move upward */
  position: relative;
  bottom: 0;
}

/* Keyframes for sliding up */
@keyframes slideUp {
  0% {
      opacity: 0;
      transform: translateY(50px); /* Start position */
  }
  100% {
      opacity: 1;
      transform: translateY(0); /* End at its original position */
  }
}

.landing-logo {
  width: 300px;
  margin: auto;
  padding: 1rem;
}

.landing-logo img {
  width: 100%;
}

.landing h1 {
    font-size: 4rem;
    color: rgb(24, 22, 22);
    letter-spacing: 2px;
    color: rgb(20, 19, 19);
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: normal;
  }

.landing p {
    font-size: 1rem;
    color: rgb(20, 19, 19);
    text-align: center;
    padding: 1rem 0;
  }

  .hero-btn {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  
  .hero-btn .hero-btn1 {
    background-color: #2E788C;
    color: white;
    border: none;
    padding: .8rem 3rem;
    border-radius: 1.5rem;
  }
  
  .hero-btn .hero-btn2 {
    background-color: #ffffff;
    color: #2E788C;
    border: none;
    padding: .8rem 3rem;
    border-radius: 1.5rem;
  }
  
  .hero-arrow {
    padding-top: 5px;
  }
  

/* MEDIA QUERIES */

@media screen and (max-width:940px) {
  .landing-content {
    width: 100%;
    padding: 1rem;
  }

  .landing-logo {
    width: 30%;
  }

    .landing h1 {
        font-size: 2rem;
        text-align: center;
    }
    .landing h2 {
      text-align: center;
  }

    .landing p {
      font-size: 1rem;
  }

}


@media screen and (max-width:600px) {
  .landing-logo {
    width: 50%;
  }

  .hero-btn .hero-btn1 {
    background-color: #2E788C;
    color: white;
    border: none;
    padding: .5rem 2rem;
    border-radius: 5px;
  }
  
  .hero-btn .hero-btn2 {
    background-color: #ffffff;
    color: #2E788C;
    border: none;
    padding: .5rem 2rem;
    border-radius: 5px;
  }


}