.dual-diagnosis-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1rem;
  font-family: Arial, sans-serif;
}

.dual-diagnosis-container h1 {
  font-size: 1.5rem;
  color: #2E788C;
  text-align: left;
  margin-bottom: 20px;
}

.dual-diagnosis-container p {
  font-size: 16px;
  line-height: normal;
}

.dual-diagnosis-container h2 {
  font-size: 1.2rem;
  color: #2E788C;
  padding: 1rem 0;
}

.intro-text, p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.treatment-approach ul {
  list-style-type: disc;
}

.treatment-approach li {
  margin-bottom: 10px;
  font-size: 1rem;
}

.call-to-action {
  text-align: center;
  margin-top: 40px;
}



@media (max-width: 768px) {
  .dual-diagnosis-container h1 {
    font-size: 1rem;
  }

  .dual-diagnosis-container h2 {
    font-size: 1rem;
  }

}
