/* Accordion */

.accordion-menu {
    width: 100%;
}

.accordion-menu-button {
    width: 100%;
    padding: 15px;
    background-color: #9dd8d0c0;
    border: 1px solid #9dd8d0c0;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(20, 19, 19);
}

.accordion-menu-button:hover {
    background-color: #82bdb5c0;
    color: var(--primary-color);
}

.accordion-icon {
    margin-left: 10px;
}

.accordion-menu-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #f9f9f9;
    padding: 0 15px;
}

.accordion-menu-content ul {
    list-style-type: none;
    padding: 0;
}

.accordion-menu-content li {
    padding: 10px 0;
    border-bottom: 1px dashed rgba(20, 20, 20, 0.301);
    color: black;
}

.accordion-menu-content li a {
    color: black;
}

.accordion-menu-content.open {
    max-height: none;
}
